dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

/*.submodules
/.stack-work/
/result
/deps
/data
/*.json
/*.json.ib
/*.json.bp
/snapshot.yaml
/stack-ci.yaml
